/*
THEME NAME: NSLodge
THEME URI: https://nslodge.org/
DESCRIPTION: Custom theme for nslodge.org - this is a sub-theme of EasyWP
VERSION: 1.0
TEMPLATE: easywp
Tags: custom-colors, two-columns, one-column, custom-header, custom-menu, featured-images, translation-ready, theme-options, blog, e-commerce, portfolio, rtl-language-support
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

.
This work, like WordPress, is released under GNU General Public License, version 2 (GPL).
.

*/

@import url("../easywp/style.css");
